body{
    margin: 0;
}
.background{
    background-color: #D74680;
    width: 2600px;
    height: 40vw;
}
.header{
    display: flex;
    justify-content: center;
}
.garchig{
    font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 40px;
color: white;
margin-top: 100px;
}
.garchig1 {
    margin-top: 50px;
    font-family: 'Titillium Web';
font-style: normal;
font-weight: 400;
font-size: 18px;
color: white;
}
.grid{
    margin-top: 100px;
    display: grid;
    grid-template-columns: 25% 25% 25% 25% ;
    grid-template-rows: 300px 300px;
    grid-template-areas: ' node node1 node2' ' node node3 node4';
}
.node1 {
    grid-area: node1;
}
.node2 {
    grid-area: node2;
}.node3 {
    grid-area: node3;
}.node4 {
    grid-area: node4;
}
.text{
   margin-left: 150px;
   margin-top: -100px;
   margin-right: 100px;
    font-family: 'Titillium Web';
font-style: italic;
font-weight: 400;
font-size: 21px;
line-height: 32px;

color: #FFFFFF;
}
.name{
    margin-left: 150px;
    font-family: 'Titillium Web';
font-style: normal;
font-weight: 700;
font-size: 24px;

color: #FFFFFF;
}
.nemelt{
    margin-left: 150px;
    font-family: 'Titillium Web';
font-style: normal;
font-weight: 400;
font-size: 18px;
color: #FFDD99;

}
.zurag{
    border-style: hidden;
    border-radius: 100%;
}
.footer{
    background-color: #344B8E;
    width: 2600px;
    height: 100px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.text1{
    font-family: 'Titillium Web';
font-style: normal;
font-weight: 600;
font-size: 22.5752px;
line-height: 34px;
text-align: center;

color: #FFFFFF;
}