.container {
    display: grid;
    grid-template-columns: 1fr  1fr ;
    grid-template-rows: 50px  100px ;
    grid-template-areas:
    "Title  Title"
    "lside  rside"
    "lside  rside"
    "Contact  Contact";
    width: 100vw;
    height: 100vh;
    
}