body {
  margin: 0;
}
.box {
  height: 1300px;
  background-color: #ffdd99;
}
.portfolio {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 39.8056px;
  line-height: 49px;
  /* identical to box height */

  text-align: center;

  color: #393939;
}
.explains {
  width: 495px;
  height: 54px;
  font-family: "Titillium Web";
  font-style: normal;
  font-weight: 400;
  font-size: 17.9125px;
  line-height: 27px;
  text-align: center;

  color: #393939;
}
.all-container {
  display: flex;
  flex-direction: row;
  gap: 30px 30px;
}
.all {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 83.59px;
  height: 37.82px;
  background: #ffffff;
  font-family: "Titillium Web";
  font-style: normal;
  font-weight: 400;
  font-size: 17.9125px;
  line-height: 27px;

  color: #393939;
}
.webs {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 83.59px;
  height: 37.82px;
  background: rgba(0, 0, 0, 0.08);
  font-family: "Titillium Web";
  font-style: normal;
  font-weight: 400;
  font-size: 17.9125px;
  line-height: 27px;

  color: #393939;
}
#macimg1 {
  width: 500px;
  height: 309.49px;
}
#macimg2 {
  width: 500px;
  height: 309.49px;
}
#macimg3 {
  width: 500px;
  height: 309.49px;
}
#macimg4 {
  width: 500px;
  height: 309.49px;
}
.row {
  display: flex;
  flex-direction: row;
}
.col {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
}
.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.word1 {
  width: 89px;
  height: 27px;

  font-family: "Titillium Web";
  font-style: normal;
  font-weight: 400;
  font-size: 17.9125px;
  line-height: 27px;
  text-transform: uppercase;

  color: #393939;
}
.word2 {
  width: 89px;
  height: 27px;

  font-family: "Titillium Web";
  font-style: normal;
  font-weight: 400;
  font-size: 17.9125px;
  line-height: 27px;
  text-transform: uppercase;

  color: #393939;
}
.word3 {
  width: 200px;
  height: 27px;

  font-family: "Titillium Web";
  font-style: normal;
  font-weight: 400;
  font-size: 17.9125px;
  line-height: 27px;
  text-transform: uppercase;

  color: #393939;
}
.word4 {
  width: 89px;
  height: 27px;

  font-family: "Titillium Web";
  font-style: normal;
  font-weight: 400;
  font-size: 17.9125px;
  line-height: 27px;
  text-transform: uppercase;

  color: #393939;
}
.buttonprojects {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 291.58px;
  height: 69.66px;

  background: #17c2a4;

  font-family: "Titillium Web";
  font-style: normal;
  font-weight: 600;
  font-size: 17.9127px;
  line-height: 27px;

  color: #ffffff;
}
